<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://api.example.com</string>
	<key>ONE_SIGNAL_APP_ID</key>
	<string>YOUR_ONESIGNAL_APP_ID</string>
	<key>PRIVACY_POLICY_URL</key>
	<string>https://example.com/privacy</string>
	<key>TERMS_URL</key>
	<string>https://example.com/terms</string>
</dict>
</plist>
